In [59]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "./Resources/Mouse_metadata.csv"
study_results_path = "./Resources/Study_results.csv"

# Read the mouse data and the study results
study_results = pd.read_csv(study_results_path)
mouse_metadata = pd.read_csv(mouse_metadata_path)


# Combine the data into a single dataset
combined_data= pd.merge(study_results, mouse_metadata,
                       on="Mouse ID", how="left")

# Display the data table for preview
combined_data.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [21]:
# Checking the number of mice
mice_count=len(combined_data["Mouse ID"].unique())
mice_count

249

In [29]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.
combined_data.duplicated(subset=["Mouse ID", "Timepoint"])

0       False
1       False
2       False
3       False
4       False
        ...
1888    False
1889    False
1890    False
1891    False
1892    False
Length: 1893, dtype: bool

In [30]:
combined_data.loc[combined_data.duplicated(),:]

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
137,g989,0,45.0,0,Propriva,Female,21,26

In [69]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_data=combined_data.drop_duplicates().head
clean_data

<bound method NDFrame.head of      Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites Drug Regimen  \
0        b128          0           45.000000                 0    Capomulin
1        f932          0           45.000000                 0     Ketapril
2        g107          0           45.000000                 0     Ketapril
3        a457          0           45.000000                 0     Ketapril
4        c819          0           45.000000                 0     Ketapril
...       ...        ...                 ...               ...          ...
1888     r944         45           41.581521                 2    Capomulin
1889     u364         45           31.023923                 3    Capomulin
1890     p438         45           61.433892                 1     Ceftamin
1891     x773         45           58.634971                 4      Placebo
1892     b879         45           72.555239                 2     Stelasyn

         Sex  Age_months  Weight (g)
0     Female           9          22
1       Male          15          29
2     Female           2          29
3     Female          11          30
4       Male          21          25
...      ...         ...         ...
1888    Male          12          25
1889    Male          18          17
1890  Female          11          26
1891  Female          21          30
1892  Female           4          26

[1892 rows x 8 columns]>

In [70]:
# Checking the number of mice in the clean DataFrame.
mice_count_clean=len(clean_data["Mouse ID"].unique())
mice_count_clean

TypeError: 'method' object is not subscriptable